@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana/Verdana.ttf') format('truetype');
}


@font-face {
    font-family: 'Arial-Narrow';
    src: url('../fonts/Arial-Narrow/arialnarrow.ttf') format('truetype');
}


@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-Black';
    src: url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
}

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}
/*--------------------------*/

html, body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: #000;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1175px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* --------------------------------------------------------------------------- */
.header {
	background-color: #F3FFFD;
	width: 100%;
}
.header__container {
	display: flex;
	min-height: 95px;
	align-items: center;
	gap: 180px;
}

@media (max-width: 1196px) {
	.header__container {
		gap: 125px;
	}
}
@media (max-width: 1080px) {
	.header__container {
		gap: 90px;
	}
}
@media (max-width: 980px) {
	.header__container {
		gap: 60px;
	}
}
@media (max-width: 870px) {
	.header__container {
		gap: 0px;
	}
}

.header__logo {}
.header__menu {}
.menu {padding: 5px 0;}
.menu__list {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	gap: 40px;
}
@media (max-width: 1196px) {
	.menu__list {
		gap: 35px;
	}
}
@media (max-width: 1080px) {
	.menu__list {
		gap: 25px;
	}
}
@media (max-width: 980px) {
	.menu__list {
		gap: 15px;
	}
}
@media (max-width: 870px) {
	.menu__list {
		gap: 10px;
	}
}


.menu__item {}
.menu__link {
	color: #000;
	font-weight: 700;
	letter-spacing: 0.2px;
	font-family: 'Gilroy-Bold';
	line-height: calc(22 / 14 * 100%);
}

.header__info {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	gap: 20px;
}
@media (max-width: 1196px) {
	.header__info {
		gap: 16px;
	}
}
@media (max-width: 1080px) {
	.header__info {
		gap: 15px;
	}
}
@media (max-width: 980px) {
	.header__info {
		gap: 15px;
	}
}
@media (max-width: 870px) {
	.header__info {
		gap: 20px;
	}
}

.header__info__contacts {}
.contact {
	color: #000;
	font-family: 'Gilroy-Bold';
	font-weight: 700;
	line-height: calc(22 / 14 * 100%);
	letter-spacing: 0.2px;
}


@media (max-width: 770px) {
	.header__container {
		display: flex;
		align-items: center;
		gap: 30px;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
	.header__info {
		margin-bottom: 30px;
	}
}


/* ---------PAGE------------------------------------------------------------------ */
.page {
	flex: 1 1 auto;
}
.page__main-block {

}
.page__services {

}
.page__deliveryType {

}
.page__information {

}
.page__stages {

}
.page__consultation {

}
.page__about-us {

}
.page__reviews {

}
.page__China-to-Kazakhstan {

}
.page__connect-with-us {

}
/* ------ПОДВАЛ--------------------------------------------------------------------- */
.footer {}
/* -----MAIN-BLOCK---------------------------------------------------------------------- */
.main-block {
	position: relative;
}
.main-block__container {}
._container {}
.main-block__body {
	padding: 150px 0px 215px 100px;
	color: #fff;
	position: relative;
	z-index: 2;
	max-width: 700px;
}

.main-block__body > *:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.main-block__title {
	font-family: 'Gilroy-ExtraBold';
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	font-weight: 800;
	letter-spacing: 0.2px;
}
.main-block__title2 {
	font-family: 'Gilroy-Bold';
	font-size: 21px;
	font-weight: 700;
	line-height: calc(32 / 21 * 100%);
	letter-spacing: 0.1px;
	max-width: 500px;
}
.main-block__text {
	font-family: 'Gilroy-Medium';
	font-size: 20px;
	font-weight: 500;
	line-height: calc(30 / 20 * 100%);
	letter-spacing: 0.2px;
	padding: 0px 0px 0px 5px;
}
.main-block__buttons {
	display: inline-flex;
	border-radius: 38px;
	background: #FFF;
	min-height: 52px;
	justify-content: center;
	align-items: center;
	padding: 5px 25px;
}
.main-block__button {
	color: #0D6A60;
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	font-weight: 700;
	line-height: calc(22 / 14 * 100%);
	letter-spacing: 0.2px;
}
.main-block__button__icon {
	margin-top: 2px;
	margin-left: 15px;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.background {
	background: rgba(0, 0, 0, 0.27);
}

@media (max-width: 770px) {
	.main-block__body {
		padding: 150px 0px 215px 100px;
		color: #fff;
		position: relative;
		z-index: 2;
		max-width: 700px;
	}
	.main-block__title {
		font-size: 48px;
		line-height: calc(70 / 48 * 100%);
	}
	.main-block__title2 {
		font-size: 15px;
		line-height: calc(25 / 15 * 100%);
		max-width: 500px;
	}
	.main-block__text {
		font-size: 16px;
		line-height: calc(22 / 16 * 100%);
		padding: 0px 0px 0px 2px;
	}
}
@media (max-width: 670px) {
	.main-block__body {
		padding: 150px 0px 150px 100px;
		color: #fff;
		position: relative;
		z-index: 2;
		max-width: 700px;
	}
	.main-block__title {
		font-size: 30px;
		line-height: calc(30 / 30 * 100%);
	}
	.main-block__title2 {
		font-size: 14px;
		line-height: calc(15 / 14 * 100%);
		max-width: 500px;
	}
	.main-block__text {
		font-size: 12px;
		line-height: calc(12 / 12 * 100%);
		padding: 0px 0px 0px 2px;
	}
}

/* --------------------------------------------------------------------------- */
.services {

}
.services__container {
	padding: 80px 0px;
}
.services__title, .title_block {
	color: #000;
	text-align: center;
	font-family: 'Gilroy-Bold';
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: calc(57 / 40 * 100%); /* 142.5% */
	letter-spacing: 0.2px;
	text-transform: uppercase;
	/*---------*/
	margin-bottom: 40px;
}
.services__body {
	display: flex;
	gap: 20px;
}
@media (max-width: 1260px) {
	.services__body {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0px 15px;
	}
}
@media (max-width: 967px) {
	.services__body {
		padding: 0px 50px;
	}
}
.services__column {}
.services__item {
	background: rgba(37, 43, 66, 0.50);
	mix-blend-mode: multiply;
	padding: 77.6px 72px;
	max-width: 278.75px;
	border-radius: 5px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
	/*--------------*/
	background-image: url(../img/services/Podborka_1.jpg); /* The image used */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	position: relative;
}
.back_2 {
	background-image: url(../img/services/Podborka_2.jpg); /* The image used */
}
.back_3 {
	background-image: url(../img/services/Podborka_3.jpg); /* The image used */
}
.back_4 {
	background-image: url(../img/services/Podborka_4.jpg); /* The image used */
}
.services__item__background {
	position: absolute;
	background: rgba(37, 43, 66, 0.50);
	mix-blend-mode: multiply;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 5px;
}
.item-service {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-service__title {
	font-family: 'Gilroy-Bold';
	color: #FFF;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	line-height: calc(32 / 21 * 100%); /* 152.381% */
	letter-spacing: 0.1px;
	max-height: 96px;
}
.item-service__button {
	padding: 10px 20px;
	border-radius: 37px;
	background: #FFF;
	margin-top: 20px;
}
.item-service__button {
	color: #0D6A60;
	text-align: center;
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	font-weight: 700;
	line-height: calc(22 / 14 * 100%); /* 157.143% */
	letter-spacing: 0.2px;
}

/* --------------------------------------------------------------------------- */

.deliveryType {
	background: #F6F5F3;
	padding: 80px 21px;
}
.deliveryType__container {}
.deliveryType__title {
	line-height: calc(39 / 40 * 100%);
}
.deliveryType__body {
	display: flex;
	gap: 20px;
}
@media (max-width: 1260px) {
	.deliveryType__body {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0px 15px;
	}
}
.deliveryType__column {}
.deliveryType__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
	max-width: 275px;
	text-align: center;
	padding: 5px 0px;
}
.deliveryType__image {
	background-color: #fff;
	border-radius: 100px;
	overflow: hidden;
	padding-top: 1.18px;
	width: 190px;
	height: 190px;
}
.train {
	padding: 55.28px 38.36px 2.63px 0px;
}
.train2 {
	padding: 19.27px 7.71px 5.74px 0px;
}
.train3 {
	padding: 15.64px 0px 0px 0px;
}
.deliveryType__item__title {
	text-align: center;
	font-family: 'Gilroy-Bold';
	font-size: 21px;
	font-weight: 700;
	line-height: calc(32 / 21 * 100%); /* 152.381% */
	letter-spacing: 0.1px;
}
.deliveryType__item__title span {
	color: #0C6A60;
}
.deliveryType__text {
	text-align: center;
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
	height: 82px;
	width: 275px;
}

/* --------------------------------------------------------------------------- */

.information {
	position: relative;
}
.information__container {
	padding: 80px 0px;
	color: #fff;
	position: relative;
	z-index: 2;
}
.information__title {
	color: #FFF;
	font-size: 36px;
	line-height: calc(41 / 36 * 100%); /* 122.222% */
}
.information__body {
	display: flex;
	flex-direction: column;	
	gap: 40px;
}
@media (max-width: 1260px) {
	.information__body {
		flex-wrap: wrap;
		padding: 0px 15px;
	}
	.information__row {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 967px) {
	.information__body {
		padding: 0px 95px;
	}
	.information__row:not(:last-child) {
		margin-bottom: 30px;
	}
	.information__column:not(:last-child) {
		margin-bottom: 30px;
	}
}
.information__row {
	display: flex;
	gap: 20px;
}
.information__column {}
.information__item {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	gap: 11px;
	width: 379px;
}
.information__icon {}
.information__item__title {
	font-family: 'Gilroy-Bold';
	font-size: 21px;
	font-weight: 700;
	line-height: calc(32 / 21 * 100%); /* 152.381% */
	letter-spacing: 0.1px;
}
.information__item__title_x {
	line-height: calc(26 / 21 * 100%); /* 152.381% */
}
.information__text {
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
}

.information__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.background_2 {
	background: rgba(0, 62, 55, 0.47);
}


/* --------------------------------------------------------------------------- */


.stages {
	position: relative;
	background: #F6F5F3;
}
.stages__container {
	padding: 110px 0px;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.stages__title {
	color: #0B0C26;
	margin-bottom: 92px;
}
.stages__body {
	display: flex;
	flex-direction: column;	
	gap: 40px;
}
.stages__row {
	display: flex;
	gap: 20px;
}
.stages__column {
	padding: 40px;
	height: 220px;
	width: 378.33px;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px 10px 50px 0px rgba(29, 79, 206, 0.10);
	position: relative;
	overflow: hidden;
}
.stages__column_row2 {
	width: 577.5px;
}
.stages__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}
.stages__item__title {
	font-family: 'Gilroy-Bold';
	color: #0B0C26;
	font-size: 21px;
	font-weight: 700;
	line-height: calc(32 / 21 * 100%); /* 152.381% */
	letter-spacing: 0.1px;
}
.stages__text {
	font-family: 'Gilroy-Medium';
	color: #333;
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
}
.stages__num {
	position: absolute;
	left: 40px;
	bottom: -15px;

	font-family: 'Gilroy-Black';
	color: #F7F2EA;
	font-size: 100px;
	font-weight: 900;
	line-height: normal;
}
.stages__item img {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.image_3 {
	z-index: 1;
}
.image_3-5 {
	z-index: 0;
}
.stages__image {
	position: absolute;
	width: 1400px;
	height: 550px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 1260px) {
	.stages__body {
		display: flex;
		flex-direction: column;	
		gap: 40px;
		flex-wrap: wrap;
		padding: 0px 15px;
	}
	.stages__row {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.stages__column_row2 {
		width: 378.33px;
	}
	.stages__column {
		padding: 35px;
	}
	.row2_column1_image {
		width: 130px;
		height: 130px;
	}
	.stages__title {
		font-size: 35px;
		line-height: calc(52 / 35 * 100%); /* 142.5% */
		margin-bottom: 40px;
	}
}
@media (max-width: 770px) {
	.stages__container {
		padding: 70px 0px;
	}
	.stages__title {
		font-size: 30px;
		line-height: calc(47 / 30 * 100%); /* 142.5% */
		margin-bottom: 40px;
	}
}


/* --------------------------------------------------------------------------- */


.consultation {
	position: relative;
}
.consultation__container {
	color: #fff;
	padding: 79.12px 0px 71.88px 0px;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 114px;
}
.consultation__title {
	color: #fff;
}
.consultation__title span {
	color: #FFAD32;
}
.consultation__body {
	display: flex;
	width: 380px;
	padding: 24px 30px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border-radius: 5px;
	background: #FFF;
}
.consultation__body__title {
	font-family: 'Gilroy-Medium';
	color: #000;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	line-height: calc(32 / 21 * 100%); /* 152.381% */
	letter-spacing: 0.1px;
}
.consultation__body__subtitle {
	font-family: 'Gilroy-Bold';
	color: #FFAD32;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	line-height: calc(23 / 21 * 100%); /* 152.381% */
	letter-spacing: 0.1px;
}
.consultation__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.form__name {
	font-family: 'Gilroy-SemiBold';
	color: var(--text-color, #252B42);
	font-size: 14px;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%); /* 171.429% */
	letter-spacing: 0.2px;
	/*------------------------*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	gap: 10px;
}
.form__name input {
	font-family: 'Gilroy-Medium';
	color: var(--second-text-color, #737373);
	font-size: 14px;
	font-weight: 500;
	line-height: calc(18.4 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
	/*------------------------*/
	padding: 11px 21px 11px 15px;
	border-radius: 5px;
	border: 1px solid #E6E6E6;
	background: #F9F9F9;
	width: 320px;
}
.form__phone {
	font-family: 'Gilroy-SemiBold';
	color: var(--text-color, #252B42);
	font-size: 14px;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%); /* 171.429% */
	letter-spacing: 0.2px;
	/*------------------------*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	gap: 10px;
}
.form__phone input {
	font-family: 'Gilroy-Medium';
	color: var(--second-text-color, #737373);
	font-size: 14px;
	font-weight: 500;
	line-height: calc(18.4 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
	/*------------------------*/
	padding: 11px 18px 11px 15px;
	border-radius: 5px;
	border: 1px solid #DDD;
	background: #F9F9F9;
	width: 320px;
}
.form__button {
	padding: 10px 20px;
	align-items: center;
	justify-content: center;
	border-radius: 37px;
	background: var(--secondary-color-1, #0D6A60);
	/*------------------------*/
	color: var(--light-text-color, #FFF);
	text-align: center;
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	font-weight: 700;
	line-height: calc(22 / 14 * 100%); /* 157.143% */
	letter-spacing: 0.2px;
	width: 320px;
}
.consultation__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.background_3 {
	background: rgba(6, 80, 72, 0.82);
	mix-blend-mode: hard-light;
}

@media (max-width: 1260px) {
	.consultation__container {
		padding: 79.12px 100px 71.88px 100px;
		gap: 50px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 1018px) {
	.consultation__title {
		font-size: 35px;
		line-height: calc(53 / 35 * 100%);
		margin-bottom: 40px;
	}
	.consultation__container {
		gap: 20px;
	}
}
@media (max-width: 967px) {
	.consultation__title {
		font-size: 30px;
		line-height: calc(37 / 30 * 100%);
		margin-bottom: 40px;
	}
}


/* --------------------------------------------------------------------------- */


.about-us {}
.about-us__container {
	padding: 80px 0px;
}
.about-us__title {
	color: #0B0C26;
	line-height: calc(44 / 40 * 100%); /* 142.5% */
}
.about-us__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.about-us__row {
	display: flex;
	padding: 0px 19px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #F6F5F3;
	gap: 0.75px;
}
.about-us__column {
	padding: 20px 40px;
	width: 283.75px;
}
.about-us__item {
	display: flex;
	align-items: center;
	flex: 1 0 0;
	justify-content: center;
	flex-direction: column;
	gap: 25px;
	padding: 16px 0px;
}
.about-us__icon {}
.about-us__icon1 {
	margin-right: -10px;
}
.about-us__content {
	display: inline-flex;
	padding: 10px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.about-us__num {
	color: #0B0C26;
	text-align: center;
	font-family: Poppins;
	font-size: 53px;
	font-weight: 600;
	line-height: 56px; /* 105.66% */
}
.about-us__text {
	color: #0B0C26;
	text-align: center;
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}
.about-us__images {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 58px;
	padding: 47.5px 0px;
}


@media (max-width: 1260px) {
	.about-us__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.about-us__images {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 47.5px 50px;
	}
}
@media (max-width: 967px) {
	.about-us__container {
		padding: 80px 40px;
	}
	.about-us__images {
		gap: 58px;
	}
}


/* --------------------------------------------------------------------------- */


.reviews {
	background: #F6F5F3;
}
.reviews__container {
	display: flex;
	padding: 80px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reviews__title {
	color: #0B0C26;
	line-height: calc(41 / 40 * 100%); /* 142.5% */
}
.reviews__body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.reviews_image_1 {
	width: 270px;
	height: 502px;
	border-radius: 30px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
	background: url(../img/reviews/reviews_image_1.jpg), lightgray 0px 0px / 100% 100% no-repeat;
}
.reviews_image_2 {
	width: 320px;
	height: 591.66px;
	border-radius: 30px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
	background: url(../img/reviews/reviews_image_2.jpg), lightgray 0px 0px / 100% 100% no-repeat;
}
.reviews_image_3 {
	width: 270px;
	height: 502px;
	border-radius: 30px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
	background: url(../img/reviews/reviews_image_3.jpg), lightgray 0px 0px / 100% 100% no-repeat;
}

@media (max-width: 1260px) {
	.reviews__container {
		padding: 80px 20px;
	}
	.reviews__body {
		gap: 20px;
	}
	.reviews_image_1 {
		width: calc(270px * 0.75);
		height: calc(502px * 0.75);
		background: url(../img/reviews/reviews_image_1.jpg);
		background-size: cover;
	}
	.reviews_image_2 {
		width: calc(320px * 0.75);
		height: calc(591.66px * 0.75);
		background: url(../img/reviews/reviews_image_2.jpg);
		background-size: cover;
	}
	.reviews_image_3 {
		width: calc(270px * 0.75);
		height: calc(502px * 0.75);
		background: url(../img/reviews/reviews_image_3.jpg);
		background-size: cover;
	}
}
@media (max-width: 850px) {
	.reviews_image_1, .reviews_image_3 {
		display: none;
	}
}


/* --------------------------------------------------------------------------- */


.China-to-Kazakhstan {
	background: var(--secondary-color-1, #0D6A60);
	height: 588px;
	width: 100%;
}
.China-to-Kazakhstan__container {
	padding: 100px 0px;
}
.China-to-Kazakhstan__title {
	color: var(--light-text-color, #FFF);
	margin-bottom: 15px;
}
.China-to-Kazakhstan__text {
	color: var(--light-text-color, #FFF);
	/* paragraph */
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
}



/* --------------------------------------------------------------------------- */

.page_2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #F3FFFD;
}

.connect-with-us {
	width: 100%;
}
.connect-with-us__container {}
.connect-with-us__body {
	display: flex;
	margin-top: -215px;
	margin-bottom: 13.04px;
	padding-bottom: 61.96px;
	background: var(--light-background-color, #FFF);
}
.connect-with-us__image img {}
.connect-with-us__form-box {
	background: var(--light-background-color, #FFF);
	padding: 40px 40px 0px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 0;
}
.connect-with-us__form-box__title {
	color: var(--text-color, #252B42);
}
.connect-with-us__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	width: 100%;
}
.connect-with-us__form_all {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
}
.connect-with-us__form__name, .connect-with-us__form__email, .connect-with-us__form__company, .connect-with-us__form__phone {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	/*--------------------------*/
	color: var(--text-color, #252B42]);
	/* h6 */
	font-family: 'Gilroy-SemiBold';
	font-size: 14px;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%); /* 171.429% */
	letter-spacing: 0.2px;
}
._input input {
	padding: 11px 21px 11px 15px;
	border-radius: 5px;
	border: 1px solid #E6E6E6;
	background: #F9F9F9;
	width: 100%;
	height: 42px;
}
._input input::placeholder {
	color: var(--second-text-color, #737373);
	/* paragraph */
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
}
.connect-with-us__form a {
	width: 100%;
}
.connect-with-us__form__button {
	padding: 10px 20px;
	align-items: center;
	border-radius: 37px;
	background: var(--secondary-color-1, #0D6A60);
	color: var(--light-text-color, #FFF);
	text-align: center;
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	font-weight: 700;
	line-height: calc(22 / 14 * 100%); /* 157.143% */
	letter-spacing: 0.2px;
	width: 100%;
	margin-top: 4px;
}


@media (max-width: 1260px) {
	.China-to-Kazakhstan__container {
		padding: 100px 100px;
	}
	.connect-with-us__body {
		margin-top: -180px;
	}
	.connect-with-us__body {
		margin-bottom: 13.04px;
		margin-left: 100px;
		margin-right: 100px;
	}
	.connect-with-us__image img {
		width: calc(578px * 0.75);
		height: 100%;
	}
	.connect-with-us__form-box {
		padding: 20px 30px 0px 30px;
	}
	.connect-with-us__form-box__title {
		font-size: 30px;
		line-height: calc(42.75 / 30 * 100%);
		margin-bottom: 15px;
	}
	.connect-with-us__form {
		gap: 15px;
	}
	.connect-with-us__form_all {
		gap: 7px;
	}
	.connect-with-us__form__name, .connect-with-us__form__email, .connect-with-us__form__company, .connect-with-us__form__phone {
		gap: 7px;
	}
}
@media (max-width: 880px) {
	.China-to-Kazakhstan__title {
		font-size: 30px;
		line-height: calc(47 / 30 * 100%); /* 142.5% */
		margin-bottom: 15px;
	}
	.China-to-Kazakhstan__container {
		padding: 50px 100px;
	}
	.connect-with-us__body {
		margin-top: -150px;
	}
	.connect-with-us__body {
		margin-bottom: 13.04px;
		margin-left: 100px;
		margin-right: 100px;
	}
	.connect-with-us__image img {
		display: none;
	}
	.connect-with-us__form-box {
		padding: 20px 30px 0px 30px;
	}
	.connect-with-us__form-box__title {
		font-size: 30px;
		line-height: calc(42.75 / 30 * 100%);
		margin-bottom: 15px;
	}
	.connect-with-us__form {
		gap: 15px;
	}
	.connect-with-us__form_all {
		gap: 7px;
	}
	.connect-with-us__form__name, .connect-with-us__form__email, .connect-with-us__form__company, .connect-with-us__form__phone {
		gap: 7px;
	}
}
@media (max-width: 710px) {
	.connect-with-us__body {
		margin-top: 0px;
	}
	.China-to-Kazakhstan {
		background: var(--secondary-color-1, #0D6A60);
		height: auto;
		width: 100%;
	}
	.China-to-Kazakhstan__container {
		padding: 50px 100px;
	}
}


/* --------------------------------------------------------------------------- */


.footer {
	background: #F3FFFD;
	padding-bottom: 35px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.map {
	width: 100%;
	height: 600px;
	background: #F3FFFD;
}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}


.card {
	display: flex;
	width: 460px;
	height: 360.5px;
	padding: 60px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 31.1px;
	background: #FFF;
	box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 120px;
	left: 50%; /* Изменяем значение на 50% */
	margin-left: -580px; /* Добавляем отрицательный отступ */
}
.card__title {
	color: #000;
	font-family: 'Gilroy-Bold';
	font-size: 40px;
	font-weight: 700;
	line-height: calc(41 / 40 * 100%); /* 142.5% */
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
.card__subtitle {
	color: #000;
	font-family: 'Gilroy-Bold';
	font-size: 21px;
	font-weight: 700;
	line-height: calc(31 / 21 * 100%); /* 152.381% */
	letter-spacing: 0.1px;
}
.card__text {
	color: #000;
	font-family: 'Gilroy-SemiBold';
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%); /* 142.857% */
	letter-spacing: 0.2px;
}
.card__icons {}

@media (max-width: 1260px) {
	.card {
		width: 350px;
		height: 250px;
		padding: 30px 25px;
		gap: 25px;
		top: 170px;
		margin-left: -420px;
	}
	.card__title {
		font-size: 30px;
		line-height: calc(31 / 30 * 100%); /* 142.5% */
	}
	.card__subtitle {
		font-size: 18px;
		line-height: calc(28 / 18 * 100%); /* 152.381% */
	}
}
@media (max-width: 940px) {
	.card {
		width: 300px;
		height: 200px;
		padding: 0px 20px;
		gap: 10px;
		top: 170px;
		margin-left: -350px;
	}
	.card__title {
		font-size: 25px;
		line-height: calc(26 / 25 * 100%); /* 142.5% */
	}
	.card__subtitle {
		font-size: 16px;
		line-height: calc(25 / 16 * 100%); /* 152.381% */
	}
}
@media (max-width: 820px) {
	.card {
		width: 200px;
		height: 150px;
		padding: 0px 20px;
		gap: 10px;
		top: 210px;
		margin-left: -270px;
	}
	.card__title {
		font-size: 18px;
		line-height: calc(18 / 18 * 100%); /* 142.5% */
	}
	.card__subtitle {
		font-size: 13px;
		line-height: calc(13 / 13 * 100%); /* 152.381% */
	}
	.card__text {
		font-size: 10px;
		line-height: calc(10 / 10 * 100%); /* 142.857% */
	}
}
@media (max-width: 710px) {
	.connect-with-us__container {
		background: var(--secondary-color-1, #0D6A60);
	}
	.connect-with-us__body {
		padding-bottom: 25px;
		margin-bottom: 50px;
	}
	.footer {
		background: var(--secondary-color-1, #0D6A60);
	}
	.connect-with-us {
		background: var(--secondary-color-1, #0D6A60);
	}
	.title_block {
		font-size: 35px;
		line-height: calc(37 / 35 * 100%); /* 142.5% */
		margin-bottom: 40px;
	}
	.stages__title {
		font-size: 26px;
		line-height: calc(26 / 26 * 100%); /* 142.5% */
		margin-bottom: 40px;
	}
	.consultation__title {
		font-size: 26px;
		line-height: calc(26 / 26 * 100%); /* 142.5% */
	}
	.about-us__title {
		font-size: 26px;
		line-height: calc(26 / 26 * 100%); /* 142.5% */
	}
	.reviews__title {
		font-size: 26px;
		line-height: calc(26 / 26 * 100%); /* 142.5% */
	}
	.China-to-Kazakhstan__title {
		font-size: 26px;
		line-height: calc(26 / 26 * 100%); /* 142.5% */
	}
}
@media (max-width: 600px) {
	.card {
		width: 200px;
		height: 150px;
		padding: 0px 20px;
		gap: 10px;
		top: 210px;
		margin-left: -240px;
	}
	.card__title {
		font-size: 18px;
		line-height: calc(18 / 18 * 100%); /* 142.5% */
	}
	.card__subtitle {
		font-size: 13px;
		line-height: calc(13 / 13 * 100%); /* 152.381% */
	}
	.card__text {
		font-size: 10px;
		line-height: calc(10 / 10 * 100%); /* 142.857% */
	}
}
@media (max-width: 570px) {
	.card {
		width: 150px;
		height: 100px;
		padding: 0px 20px;
		gap: 10px;
		top: 240px;
		margin-left: -200px;
	}
	.card__title {
		font-size: 16px;
		line-height: calc(16 / 16 * 100%); /* 142.5% */
	}
	.card__subtitle {
		font-size: 10px;
		line-height: calc(10 / 10 * 100%); /* 152.381% */
	}
	.card__text {
		font-size: 6px;
		line-height: calc(6 / 6 * 100%); /* 142.857% */
	}
	.card__icons img {
		height: 15px;
		width: 16px;
	}
	.services__title, .deliveryType__title, .information__title {
		font-size: 26px;
		line-height: calc(26 / 26 * 100%); /* 142.5% */
	}
}

@media (max-width: 530px) {
	.services__title, .deliveryType__title, .information__title {
		font-size: 26px;
		line-height: calc(26 / 26 * 100%); /* 142.5% */
	}
	.stages__title {
		font-size: 22px;
		line-height: calc(22 / 22 * 100%); /* 142.5% */
	}

	.connect-with-us__form-box__title {
		font-size: 24px;
		line-height: calc(25 / 24 * 100%);
		margin-bottom: 15px;
	}

	/*---------------------------------------------------------------------*/
	.main-block__body {
		padding: 100px 0px 100px 50px;
		color: #fff;
		position: relative;
		z-index: 2;
		max-width: 700px;
	}
	.main-block__title {
		font-size: 30px;
		line-height: calc(30 / 30 * 100%);
	}
	.main-block__title2 {
		font-size: 14px;
		line-height: calc(15 / 14 * 100%);
		max-width: 500px;
	}
	.main-block__text {
		font-size: 12px;
		line-height: calc(12 / 12 * 100%);
		padding: 0px 0px 0px 2px;
	}
}
@media (max-width: 430px) {
	.information__item {
		width: 300px;
	}
	.information__body {
		padding: 0px 50px;
	}
	.China-to-Kazakhstan__container {
		padding: 50px 50px;
	}
	.connect-with-us__container {
		padding: 0px 0px;
	}
	.connect-with-us__form-box {
		margin: 0px;
		padding: 20px 15px 0px 15px;
	}
	.connect-with-us__body {
		margin-bottom: 30px;
		margin-left: 25px;
		margin-right: 25px;
	}
	.consultation__container {
		padding: 79.12px 30px 71.88px 30px;
		gap: 50px;
	}
	.consultation__body {
		width: inherit;
		padding: 24px 30px;
		gap: 10px;
	}
	.consultation__form {
		gap: 20px;
	}
	.form__name input {
		padding: 11px 21px 11px 15px;
		width: inherit;
	}
	.form__phone {
		gap: 10px;
	}
	.form__phone input {
		padding: 11px 18px 11px 15px;
		width: inherit;
	}
	.form__button {
		padding: 10px 20px;
		width: inherit;
	}
	.main-block__body {
		padding: 100px 0px 100px 30px;
		color: #fff;
		position: relative;
		z-index: 2;
		max-width: 350px;
	}
	.main-block__title {
		font-size: 30px;
		line-height: calc(30 / 30 * 100%);
	}
	.main-block__title2 {
		font-size: 14px;
		line-height: calc(15 / 14 * 100%);
		max-width: 500px;
	}
	.main-block__text {
		font-size: 12px;
		line-height: calc(12 / 12 * 100%);
		padding: 0px 0px 0px 2px;
	}
	/*-----------------------------------------------------------------*/
	.stages__body {
		display: flex;
		flex-direction: column;	
		gap: 40px;
		flex-wrap: wrap;
		padding: 0px 15px;
	}
	.stages__row {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 337px;
	}
	.stages__column_row2 {
		width: 337px;
	}
	.stages__column {
		padding: 25px;
	}
	.row2_column1_image {
		width: 130px;
		height: 130px;
	}
	.stages__title {
		font-size: 18px;
		line-height: calc(18 / 18 * 100%); /* 142.5% */
	}
	.stages__item__title {
		font-size: 18px;
		line-height: calc(18 / 18 * 100%); /* 152.381% */
	}
	.stages__text {
		font-size: 12px;
		line-height: calc(12 / 12 * 100%); /* 142.857% */
	}
	.stages__num {
		position: absolute;
		left: 40px;
		bottom: -15px;
		font-size: 100px;
	}
	.stages__item img {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}
@media (max-width: 410px) {
	.connect-with-us__body {
		margin-bottom: 30px;
		margin-left: 35px;
		margin-right: 35px;
	}
	.card {
		width: 130px;
		height: 90px;
		padding: 0px 10px;
		gap: 10px;
		top: 240px;
		margin-left: -155px;
	}
	.card__title {
		font-size: 14px;
		line-height: calc(14 / 14 * 100%); /* 142.5% */
	}
	.card__subtitle {
		font-size: 8px;
		line-height: calc(8 / 8 * 100%); /* 152.381% */
	}
	.card__text {
		font-size: 4px;
		line-height: calc(4 / 4 * 100%); /* 142.857% */
	}
	.card__icons img {
		height: 15px;
		width: 16px;
	}
	/*-------------------------------------------*/

	.reviews__container {
		padding: 80px 20px;
	}
	.reviews__body {
		gap: 15px;
	}
	.reviews__body img {
		width: 40px;
		height: 40px;
	}
	.reviews_image_1 {
		width: calc(270px * 0.75);
		height: calc(502px * 0.75);
		background: url(../img/reviews/reviews_image_1.jpg);
		background-size: cover;
	}
	.reviews_image_2 {
		width: calc(320px * 0.75);
		height: calc(591.66px * 0.75);
		background: url(../img/reviews/reviews_image_2.jpg);
		background-size: cover;
	}
	.reviews_image_3 {
		width: calc(270px * 0.75);
		height: calc(502px * 0.75);
		background: url(../img/reviews/reviews_image_3.jpg);
		background-size: cover;
	}
	/*--------------------------------------------*/
	.consultation__container {
		padding: 79.12px 30px 71.88px 30px;
		gap: 50px;
	}
	.consultation__body {
		width: inherit;
		padding: 24px 30px;
		gap: 10px;
	}
	.consultation__form {
		gap: 20px;
	}
	.form__name input {
		padding: 11px 21px 11px 15px;
		width: inherit;
	}
	.form__phone {
		gap: 10px;
	}
	.form__phone input {
		padding: 11px 18px 11px 15px;
		width: inherit;
	}
	.form__button {
		padding: 10px 20px;
		width: inherit;
	}
}

@media (max-width: 376px) {
	.main-block__body {
		padding: 100px 0px 100px 20px;
		color: #fff;
		position: relative;
		z-index: 2;
		max-width: 240px;
	}
	.main-block__title {
		font-size: 25px;
		line-height: calc(25 / 25 * 100%);
	}
	.main-block__title2 {
		font-size: 12px;
		line-height: calc(13 / 12 * 100%);
		max-width: 500px;
	}
	.main-block__text {
		font-size: 10px;
		line-height: calc(10 / 10 * 100%);
		padding: 0px 0px 0px 2px;
	}
	.reviews_image_2 {
		width: calc(320px * 0.6);
		height: calc(591.66px * 0.6);
		background: url(../img/reviews/reviews_image_2.jpg);
		background-size: cover;
	}
	.reviews__body {
		gap: 10px;
	}
	.reviews__body img {
		width: 35px;
		height: 35px;
	}
	.menu__list {
		gap: 10px;
		flex-direction: column;
	}
	.information__item {
		width: 250px;
	}
	.information__body {
		padding: 0px 20px;
	}
	.information__title {
		font-size: 22px;
		line-height: calc(23 / 22 * 100%); /* 122.222% */
	}
	.stages__body {
		display: flex;
		flex-direction: column;	
		gap: 20px;
		flex-wrap: wrap;
		padding: 0px 10px;
	}
	.stages__row {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 337px;
	}
	.stages__column_row2 {
		width: 275px;
	}
	.stages__column {
		padding: 25px;
		width: 275px;
	}
	.row2_column1_image {
		width: 130px;
		height: 130px;
	}
	.stages__title {
		font-size: 16px;
		line-height: calc(16 / 16 * 100%); /* 142.5% */
	}
	.stages__item__title {
		font-size: 16px;
		line-height: calc(16 / 16 * 100%); /* 152.381% */
	}
	.stages__text {
		font-size: 12px;
		line-height: calc(12 / 12 * 100%); /* 142.857% */
		width: 200px;
	}
	.stages__num {
		position: absolute;
		left: 40px;
		bottom: 15px;
		font-size: 80px;
	}
	.stages__item img {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
	.about-us__container {
		padding: 40px 0px;
	}
	.China-to-Kazakhstan__title {
		font-size: 20px;
		line-height: calc(20 / 20 * 100%); /* 142.5% */
	}
	.China-to-Kazakhstan__container {
		padding: 50px 30px;
	}
}